:host {
  z-index: 99 !important;

  ::ng-deep {
    color: var(--font-color);
  }

  ::ng-deep ui-album-tile {
    margin-left: 0.485rem;
    filter: drop-shadow(0rem 0.3rem 0.5rem rgba(black, 0.4));

    .album-info {
      vertical-align: middle !important;
    }

    .artist,
    .mediaTitle {
      color: var(--font-color);
    }

    .artwork {
      margin-left: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    .artwork,
    .album-info {
      margin-bottom: 0.6rem;
    }
  }
}
