:host {
  ::ng-deep ui-drawer-item,
  ::ng-deep ui-album-tile {
    margin-block: 0.7rem;
  }

  ui-drawer-item {
    margin-left: 1.55rem;
  }

  ui-album-tile {
    margin-block: 1rem;
    margin-left: 1rem;

    :focus-visible {
      outline: var(--albumTileOutlineInverse) solid var(--theme-contrast-color);

      img {
        outline: var(--albumTileOutline) solid var(--theme-contrast-color);
      }
    }
  }
}
