<ui-drawer
  [style.--drawerPadding]="collapsed ? '0rem' : '0.2rem'"
  [style.--albumTileOutline]="collapsed ? '0.15rem' : '0'"
  [style.--albumTileOutlineInverse]="collapsed ? '0' : '0.15rem'"
>
  <ng-container header>
    <ui-drawer-item
      uiButton
      class="ui-button-m text-reg outline-offset"
      icon="more_vert"
      text="File Menu"
    ></ui-drawer-item>
    <ui-drawer-item
      uiButton
      class="ui-button-m text-reg outline-offset"
      text="Home"
      icon="home"
    ></ui-drawer-item>
    <ui-drawer-item
      uiButton
      class="ui-button-m outline-offset"
      text="Search"
      icon="search"
    ></ui-drawer-item>
  </ng-container>
  <ng-container content>
    <ui-drawer-item
      uiButton
      class="ui-button-m outline-offset"
      text="Library"
      icon="library_music"
      (click)="toggle()"
    ></ui-drawer-item>
    <!-- <ui-drawer-item
      uiButton
      text="New Playlist"
      icon="add_box"
    ></ui-drawer-item>
    <ui-drawer-item
      uiButton
      text="Liked Songs"
      icon="thumb_up"
    ></ui-drawer-item> -->
  </ng-container>
  <ng-container footer>
    <ui-album-tile
      uiButton
      class="outline-offset"
      source="https://upload.wikimedia.org/wikipedia/en/f/f8/The_Strokes_-_The_New_Abnormal.png"
      [tileSize]="3"
      mediaTitle="Test Album"
      [artists]="['guy']"
      [showArtists]="true"
    ></ui-album-tile>
    <ui-album-tile
      uiButton
      class="outline-offset"
      source="https://upload.wikimedia.org/wikipedia/en/f/f8/The_Strokes_-_The_New_Abnormal.png"
      [tileSize]="3"
      mediaTitle="Test Album"
      [artists]="['guy']"
      [showArtists]="true"
    ></ui-album-tile>
    <ui-album-tile
      uiButton
      class="outline-offset"
      source="https://upload.wikimedia.org/wikipedia/en/f/f8/The_Strokes_-_The_New_Abnormal.png"
      [tileSize]="3"
      mediaTitle="Test Album"
      [artists]="['guy']"
      [showArtists]="true"
    ></ui-album-tile>
    <ui-album-tile
      uiButton
      class="outline-offset"
      source="https://upload.wikimedia.org/wikipedia/en/f/f8/The_Strokes_-_The_New_Abnormal.png"
      [tileSize]="3"
      mediaTitle="Test Album"
      [artists]="['guy']"
      [showArtists]="true"
    ></ui-album-tile>
    <ui-album-tile
      uiButton
      class="outline-offset"
      source="https://upload.wikimedia.org/wikipedia/en/f/f8/The_Strokes_-_The_New_Abnormal.png"
      [tileSize]="3"
      mediaTitle="Test Album"
      [artists]="['guy']"
      [showArtists]="true"
    ></ui-album-tile>
    <ui-album-tile
      uiButton
      class="outline-offset"
      source="https://upload.wikimedia.org/wikipedia/en/f/f8/The_Strokes_-_The_New_Abnormal.png"
      [tileSize]="3"
      mediaTitle="Test Album"
      [artists]="['guy']"
      [showArtists]="true"
    ></ui-album-tile>
  </ng-container>
  <ng-content body-content></ng-content>
</ui-drawer>
